@page "/ThongTinLop"
@using QLL.DTO
@using System.Text.Json
@Html.AntiForgeryToken()
@model QuanLyLop.Pages.InFo_LopModel
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<div class="title-info">
    @if (Model.lop != null)
    {
        <table class="table table-borderless tbl-info">
            <tr>
                <td>Tên lớp: @Model.lop.TenLop</td>
                <td>Mã lớp: @Model.lop.MaLop</td>
            </tr>
            <tr>
                <td>Mô tả: @Model.lop.MoTa</td>
                <td>Phòng học: @Model.lop.PhongHoc</td>
            </tr>
        </table>
        <div class="ds-hs">
            <h3>Danh sách học sinh</h3>
            <form method="post" asp-page="/InFo_Lop" asp-route-maLop="@Model.lop.MaLop">
                <div class="row">
                    <div class="col-2 form-group">
                        <label asp-for="@Model.maHS"></label>
                        <input type="text" class="form-control" asp-for="@Model.maHS" />
                    </div>
                    <div class="col-3 form-group">
                        <label asp-for="@Model.tenHS"></label>
                        <input type="text" class="form-control" asp-for="@Model.tenHS" />
                    </div>
                    <div style="margin-block: auto; margin-left: auto;" class="col-2 form-group">
                        <br />
                        <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
                    </div>
                </div>
            </form>
            <table class="table ">
                <tr>
                    <th scope="col">Mã số</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Giới tính</th>
                    <th scope="col">Ngày sinh</th>
                    <th scope="col">Số điện thoại</th>
                </tr>
                @if (Model.lstHS != null && Model.lstHS.Count != 0)
                {
                    @foreach (HocSinhDTO hs in Model.lstHS)
                    {
                        <tr>
                            <th scope="col">@hs.MaHs</th>
                            <th scope="col">@hs.TenHs</th>
                            <th scope="col">@hs.GioiTinh</th>
                            <th scope="col">@hs.NgaySinh.ToString("dd/MM/yyyy")</th>
                            <th scope="col">@hs.Sdt</th>
                        </tr>
                    }
                }
            </table>
        </div>
     }
                
        </div>
